<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942275128815-8oj596m692mf6169tpu3hghq51gf7l75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942275128815-8oj596m692mf6169tpu3hghq51gf7l75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>942275128815-296tfhatlckipi9nv29kmn9hsq9hb3hg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClnhId_63oBFhd75I7qUQ17BdiV1ZKvCM</string>
	<key>GCM_SENDER_ID</key>
	<string>942275128815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ws.objects.vet.borsetelmawashitest</string>
	<key>PROJECT_ID</key>
	<string>borset-el-mawashy-6366a</string>
	<key>STORAGE_BUCKET</key>
	<string>borset-el-mawashy-6366a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942275128815:ios:61acd328d3ffc20b0cda1a</string>
</dict>
</plist>